<app-titles-c [title]="title" [subtitle]="subtitle">
  <app-table-dark
    *ngIf="clientsCollectionObservable | async as clients"
    [headers]="headers"
  >
    <tr *ngFor="let c of clients">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.ca }}</td>
      <td>{{ c.comment }}</td>
      <td>{{ c.tva }}</td>
      <td>{{ c.totalTTC() }}</td>
      <td>
        <select (change)="changeState(c, $event)">
          <option
            *ngFor="let s of states"
            [value]="s"
            [selected]="s === c.state"
          >
            {{ s }}
          </option>
        </select>
      </td>
      <td>
        <app-btn [icon]="btnIcon.icon" [route]="c.id">
            <app-icon-view></app-icon-view>
        </app-btn>
        <app-btn [icon]="btnIcon.icon" (clicked)="onSelect(c.id, 'edit')">
          <app-icon-edit></app-icon-edit>
      </app-btn>
      <app-btn [icon]="btnIcon.icon" (clicked)="onSelect(c.id, 'delete')">
        <app-icon-delete></app-icon-delete>
      </app-btn>
        <!-- <app-btn [iconEdit]="btnIcon2.iconEdit"></app-btn>
        <app-btn [iconDelete]="btnIcon3.iconDelete"></app-btn> -->
        <!-- <ng-container [ngTemplateOutlet]="btnIcon1.label"> -->
          <!-- <app-icon-view></app-icon-view> -->
        <!-- </ng-container> -->
      </td>
    </tr>
  </app-table-dark>

  <app-btn
    [icon]="btnIcon.icon"
    (clicked)="filter()"
  >
  <app-icon-filter></app-icon-filter> {{btnIcon.icon.name}}
</app-btn>

  <app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
</app-titles-c>

<!-- <button>
  <ng-template #Test3>
    TEST
  </ng-template>
  <ng-content select="app-icon-view"></ng-content>
  <ng-container *ngTemplateOutlet="iconView"></ng-container>
</button> -->
