<!-- <p>{{ headers | json }}</p>
<p>{{ collection | json }}</p> -->

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let h of headers">
        {{ h }}
      </th>
    </tr>
  </thead>
  <tbody *ngIf="collection">
    <tr *ngFor="let c of collection">
      <td>{{ c.id }}</td>
      <td>{{ c.typePresta }}</td>
      <td>{{ c.client }}</td>
      <td>{{ c.nbJours }}</td>
      <td>{{ c.tjmHT }}</td>
      <td>{{ c.totalHT() }}</td>
      <td>{{ c.totalTTC() }}</td>
      <td>{{ c.state }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="clients">
    <tr *ngFor="let cl of clients">
      <td>{{ cl.id }}</td>
      <td>{{ cl.name }}</td>
      <td>{{ cl.ca }}</td>
      <td>{{ cl.comment }}</td>
      <td>{{ cl.tva }}</td>
      <td>{{ cl.totalTTC() }}</td>
      <td>{{ cl.state }}</td>
    </tr>
  </tbody>
</table>
