<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="from-group">
      <label for="typePresta">Type Presta</label>
      <input
        formControlName="typePresta"
        type="text"
        class="form-control"
        id="typePresta"
      />
    </div>

    <div class="from-group">
      <label for="client">Client</label>
      <input
        formControlName="client"
        type="text"
        class="form-control"
        id="client"
      />
    </div>

    <div class="from-group">
      <label for="nbJours">Nombre de jours</label>
      <input
        formControlName="nbJours"
        type="number"
        class="form-control"
        id="nbJours"
      />
    </div>

    <div class="from-group">
      <label for="tjmHT">TJM</label>
      <input
        formControlName="tjmHT"
        type="number"
        class="form-control"
        id="tjmHT"
      />
    </div>

    <div class="from-group">
      <label for="tva">TVA</label>
      <input
        formControlName="tva"
        type="number"
        class="form-control"
        id="tva"
      />
    </div>

    <div class="from-group">
      <label for="comment">Comment</label>
      <textarea
        formControlName="comment"
        type="text"
        class="form-control"
        id="comment"
      ></textarea>
    </div>

    <div class="from-group">
      <label for="date">Date</label>
      <input
        formControlName="date"
        type="date"
        class="form-control"
        id="date"
      />
    </div>

    <div class="from-group">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let s of states" [ngValue]="s">
          {{ s }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
