<app-titles-b *ngIf="route.data | async as fromRoute" [title]="fromRoute.title" [subtitle]="fromRoute.subtitle">
<app-table-striped *ngIf="usersObservable | async as users" [headers]="headers">
  <tr *ngFor="let u of users">
    <td>{{ u.id }}</td>
    <td>{{ u.username }}</td>
    <td>
      <select [disabled]="checkUserRole(u.role)" (change)="changeRole(u, $event)">
        <option *ngFor="let s of roles" [value]="s" [selected]="s === u.role">
          {{ s }}
        </option>
      </select>
    </td>
  </tr>
</app-table-striped>

<app-btn
*ngIf="isAdmin()"
[label]="btnRoute.label"
[route]="btnRoute.route">
</app-btn>

<app-btn
[label]="btnHref.label"
[href]="btnHref.href">
</app-btn>
