@import "themes";
@import "fonts";

a,
button {
  border: none;
  margin-left: 10px;
  color: $light-color;
  display: inline-block;
  padding: 1em;
  font-size: $regular-fz;
  background: $color3;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
    background: darken($color3, 10);
  }
}

:host-context(app-titles-a) {
  a,
  button {
    background: $color2;
    &:hover {
      background: darken($color2, 10);
    }
  }
}
:host-context(app-titles-b) {
  a,
  button {
    background: $color1;
    &:hover {
      background: darken($color1, 10);
    }
  }
}

:host-context(app-titles-c) {
  a,
  button {
    background: $color3;
    &:hover {
      background: darken($color3, 10);
    }
  }
}
